<a href="https://colab.research.google.com/github/Amarjeet-1998/python_excercise/blob/main/movie_recommrnded_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("movie_dataset.csv")

In [4]:
df.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [12]:
features = ['keywords', 'cast', 'genres', 'director']
for feature in features:
    df[feature] = df[feature].fillna('0')

In [6]:
df

      index  ...           director
0         0  ...      James Cameron
1         1  ...     Gore Verbinski
2         2  ...         Sam Mendes
3         3  ...  Christopher Nolan
4         4  ...     Andrew Stanton
...     ...  ...                ...
4798   4798  ...   Robert Rodriguez
4799   4799  ...       Edward Burns
4800   4800  ...        Scott Smith
4801   4801  ...        Daniel Hsia
4802   4802  ...   Brian Herzlinger

[4803 rows x 24 columns]

In [7]:
df.describe

<bound method NDFrame.describe of       index  ...           director
0         0  ...      James Cameron
1         1  ...     Gore Verbinski
2         2  ...         Sam Mendes
3         3  ...  Christopher Nolan
4         4  ...     Andrew Stanton
...     ...  ...                ...
4798   4798  ...   Robert Rodriguez
4799   4799  ...       Edward Burns
4800   4800  ...        Scott Smith
4801   4801  ...        Daniel Hsia
4802   4802  ...   Brian Herzlinger

[4803 rows x 24 columns]>

In [13]:
df.notnull()

      index  budget  genres  homepage  ...  vote_count  cast  crew  director
0      True    True    True      True  ...        True  True  True      True
1      True    True    True      True  ...        True  True  True      True
2      True    True    True      True  ...        True  True  True      True
3      True    True    True      True  ...        True  True  True      True
4      True    True    True      True  ...        True  True  True      True
...     ...     ...     ...       ...  ...         ...   ...   ...       ...
4798   True    True    True     False  ...        True  True  True      True
4799   True    True    True     False  ...        True  True  True      True
4800   True    True    True      True  ...        True  True  True      True
4801   True    True    True      True  ...        True  True  True      True
4802   True    True    True     False  ...        True  True  True      True

[4803 rows x 24 columns]

In [14]:
df.tail(20)

      index  ...            director
4783   4783  ...       Marcus Nispel
4784   4784  ...         Jay Duplass
4785   4785  ...          Jim Chuchu
4786   4786  ...          Daryl Wein
4787   4787  ...         Jason Trost
4788   4788  ...         John Waters
4789   4789  ...     Olivier Assayas
4790   4790  ...        Jafar Panahi
4791   4791  ...       Ivan Kavanagh
4792   4792  ...    Kiyoshi Kurosawa
4793   4793  ...        Tadeo Garcia
4794   4794  ...  Thomas L. Phillips
4795   4795  ...     Ash Baron-Cohen
4796   4796  ...       Shane Carruth
4797   4797  ...    Neill Dela Llana
4798   4798  ...    Robert Rodriguez
4799   4799  ...        Edward Burns
4800   4800  ...         Scott Smith
4801   4801  ...         Daniel Hsia
4802   4802  ...    Brian Herzlinger

[20 rows x 24 columns]

In [15]:
def combined_features(row):
    return row['keywords']+" "+row['cast']+" "+row['genres']+" "+row['director']
df["combined_features"] = df.apply(combined_features, axis =1)

In [16]:
df.head(4)

   index  ...                                  combined_features
0      0  ...  culture clash future space war space colony so...
1      1  ...  ocean drug abuse exotic island east india trad...
2      2  ...  spy based on novel secret agent sequel mi6 Dan...
3      3  ...  dc comics crime fighter terrorist secret ident...

[4 rows x 25 columns]

In [17]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df["combined_features"])
print("Count Matrix:", count_matrix.toarray())

Count Matrix: [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [18]:
cosine_sim = cosine_similarity(count_matrix)

In [19]:
cosine_sim

array([[1.        , 0.10540926, 0.12038585, ..., 0.        , 0.        ,
        0.        ],
       [0.10540926, 1.        , 0.0761387 , ..., 0.03651484, 0.        ,
        0.        ],
       [0.12038585, 0.0761387 , 1.        , ..., 0.        , 0.11145564,
        0.        ],
       ...,
       [0.        , 0.03651484, 0.        , ..., 1.        , 0.        ,
        0.04264014],
       [0.        , 0.        , 0.11145564, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.04264014, 0.        ,
        1.        ]])

In [26]:
movie_user_likes = "Dead Poets Society"
def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]
movie_index = get_index_from_title(movie_user_likes)

In [27]:
similar_movies = list(enumerate(cosine_sim[movie_index]))

In [28]:
sorted_similar_movies = sorted(similar_movies, key=lambda x:x[1], reverse=True)

In [29]:
def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]
i=0
for movie in sorted_similar_movies:
    print(get_title_from_index(movie[0]))
    i=i+1
    if i>15:
        break

Dead Poets Society
Much Ado About Nothing
Patch Adams
Good Will Hunting
Flightplan
Alive
The Basket
What Just Happened
Adulterers
The Sting
The Tree of Life
The Greatest Game Ever Played
Light It Up
The Wood
The Naked Ape
Jakob the Liar